{% extends "layout.html" %}

{% block title %}
ShoddyAnalytica
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/static/CSS/about.css">
<script type="text/javascript" src="/static/JS/about.js"></script>

{% endblock %}


{% block body %}
<div class="wrapper">
  <div class="bg-text">About SA</div>
  <div class="herologo"></div>
  <div id="bg"></div>
</div>

<div class="container">
  <h1> The Platform </h1>
  <p> SA aims to enable the scraping and analysis of Twitter data along with usage in ML applications.
    We offer raw data through our API as well as the GSheets exporter</p>
  <h8> /// Developed as part of AQA A level Computing Coursework </h8>
  <h1> The Developer </h1>
  <h3>Charles Matthews</h3>
</div>
{% endblock %}
